*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* BEGINNING HEADER SECTION */
.jumbo {
    background: #D1F0F6;
}

main {
    width: 100%;
}
.row{
    margin:0;
}

.row_header {
    background: #D1F0F6;
}

/* STYLING About SECTION */


.row_header h2 {
    font-family: 'Open Sans', sans-serif;    
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #084482;
    margin-top: 120px;
    margin-bottom: 30px;
}

.row_header p {
    font-family: 'Open Sans', sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #474747;
}

.extratext h2 {
    font-family: 'Open Sans', sans-serif;    
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    color: #084482;
    margin-top: 30px;
    margin-bottom: 30px;
}

.extratext p {
    font-family: 'Open Sans', sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #474747;
}


.about_text{
    padding: 50px;
}

.about_text h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #32325D;
    margin-top: 15px;
    margin-bottom: 10px;
}

.about_text p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.12px;
    color: #8898AA;
    margin-bottom: 30px;

}



.about_text img {
    border-radius: 2%;
}
/* END OF About SECTION */


