*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:  Open Sans, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #F4F5F7 !important;
    height: 100vh;
}

.wrapper{
    overflow-x:auto;
}

.table_wrapper {
     background: #fff;
     width: 80%;
     padding: 2rem 0;
}


 .table_title{
    text-align:center;
}



.table{
    background: #FFFFFF;
    border: 2px solid #D3D3D3;
    box-sizing: border-box;
    width: 950px;
    height: 540px;
}



.container-mentors-table .mentors_table,
.container-interns-table .interns_table {
    margin-bottom: 5rem;
}



.align_buttons_1,
.align_buttons_2 {
    margin: 0 8rem 3rem 0;
} 

.align_buttons_1 .space_between,
.align_buttons_2 .space_between {   margin-right: 20px; }

.align_buttons { margin-top: -4rem; }

.table-input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:47px;
    text-align: center;
}

.btn{
    background-color: #1C8FA5;
    width:149px;
    height:37px;
    float:right;
}

// Export Mentor Modal
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button */
    .close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
