*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:  Open Sans, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #F4F5F7 !important;
}