
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Poppins, 'Opensettings Sans'
}

main {
  width: 85vw;
  background: #333;
  display: grid;
  grid-template-columns: 40% 60%;
}

.dm {
  background-color:  rgb(238, 238, 238);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contacts {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  overflow-y: scroll;
}

.contact {
  margin-left:3px;
  display: flex;
}

.user-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.direct-message {
  display: flex;
  margin: 20px 0;
}

.dm-text { 
  color: #333;
  margin-left: 5px
}

input {
  outline: none;
  border: none;
}

.typing-dm input {
  width: 30%;
  background-color: rgb(230, 230, 230);
  color: rgb(88, 88, 88);
  border-radius:5px;
}
.typing-dm input::placeholder {
  color: rgb(148, 148, 148);
}

.typing-dm i {
  cursor: pointer;
}

.received .dm-text {

  
}

.sent .dm-text {
  
}

.date-created, .last-seen {
  font-size: 10px;
}

.settings {
  font-size: 26px;
  color: rgb(163, 163, 163);
  position: relative; 
  right: 0; 
  cursor: pointer;

}

.received .dm-text p {
  padding: 10px;
  background-color: dodgerblue;
  border-radius: 14px 14px  14px 0;
  color: #fff;
}

.sent .dm-text p { 
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 14px 14px 0 14px;
}



.typing-dm {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #fff;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}



.message {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}

.message:hover {
  background-color: rgb(230, 230, 230) ;
}



.dm-info {
  margin-left: 5px;
}

.dm-info h2{
  font-size: 13px;
}

.dm-info p {
  font-size: 13px;
  color: rgb(102, 102, 102);
}

.dm-info span {
  font-size: 10px;
}

.new-chat {
  background-color: dodgerblue;
  color: #fff;
 text-align: center;  
  cursor: pointer;
  transition: 450ms;
  width: 50px;
}

.new-chat:hover {
  background-color: #fff;
  color: dodgerblue;
}

input[type=search] {
  width: 80%;
  border-radius: 40px;
  height: 22px;
  background-color: rgb(202, 202, 202);
}
input[type=search]::placeholder  {
  position: relative;
  left: 10px;
  color: rgb(255, 255, 255);
}
.contacts-action {
  display: flex;
  background-color: rgb(209, 209, 209);;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

hr {
  border: 1px solid white;
}

.material-icons:hover {
  color: rgb(83, 169, 255);
  cursor: pointer;
}

.active {
  background-color: #ddd ;
  cursor: pointer;
}

.active:hover {
  background-color: dodgerblue;
  color: #fff !important;
}
