
* {
  box-sizing: border-box;
  font-family: 'Open Sans', segoeUI, sans-serif;
}

.wrap {
  color: #084482;
}
.wrap .header {
  text-align: center;
  font-weight: bolder;
  margin-top: 30px;

}

 .wrap form {
  margin-top: 50px;
}

form input, textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 20px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #00AEFF;
  color: #00AEFF;
}
form input:focus, textarea:focus{
  outline: 1px solid #00AEFF;
}

form input[type=submit]{
  background-color: #00AEFF;
  padding: 10px;
  color: white;
  border: none;
  transition: all .6s;
  
}
form input[type=submit]:hover
{
  background-color: rgb(12, 120, 170);
}
@media screen and (min-width : 600px){
  .wrap form {
    width: 70%;
    margin: 30px auto;
  }
}
@media screen and (min-width : 900px){
  .wrap form {
    max-width: 500px;
    margin: 30px auto;
  }
}