@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: "Open Sans", segoe UI, sans-serif;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	--sidebar-width: 10vw;
	background-color: rgb(226, 226, 226) !important;
}
html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
main
{
	background-color: rgb(226, 226, 226) ;
	margin-left: 15vw; /* Same as sidebar width*/
	padding: 2rem;
	padding-top: 0;
	padding-right: 0;
	min-height: 100vh;
}
h1
{
	font-size: 35px;
}
.center-text
{
	text-align: center;
}
/* #mobile-bars
{
    position: absolute;
    left: -35vw;
    top: 3vh;
    font-size: 25px;
	color: rgba(0, 0, 0, 0.7);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */

.stix
{
    border-radius: 3px;
    height: 3px;
    width: 30px;
	/* background-color: dimgray; */
	background-color: white;
    margin: 5px 0;
    transition: 0.4s ease;
}

#mobile-bars-check
{
    display: none;
}
#overview-section
{
	width: 82vw;
	/* border: 1px solid red; */
}
#overview-section #export
{
	color: white;
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	margin: 3rem auto;
	cursor: pointer;
	display: block;
	transition: 0.6s ease-out;
	/* border: 1px solid blue; */
}

#overview-section h1 {
	background-color: #f3f3f3;
	margin-top: 1rem;
	font-size: 30px;
	padding: 5px;
	padding-left: 7px;
	border-radius: 5px;
	box-shadow: 1px 0 3px rgba(0,0,0,0.3);
}

#overview-section h2 {
	font-size: 24px;
}
#overview-section h1, #overview-section h2, #details-section h2
{
	color: #333333;
}

#overview-section #welcome {
	margin: -1rem 1px;
	padding: 0;
	/* border: 1px solid black; */
	/* width: 50%; */
	margin: 0 auto;

	/* display: flex; */
	/* justify-content: center; */
}

#intern-section
{
	max-height: 50vh;
	width: 100%;
	background-color: white;
	overflow-y: scroll;
	padding: 0.5rem;
}
#intern-section .intern
{
	background-color: white;
	border-bottom: 1px solid dimgray;
	width: 95%;
	padding: 0.5rem;
	cursor: pointer;
	overflow-x: hidden;
}
#intern-section .intern .name
{
	display: inline-block;
	width: 40%;
}
#intern-section .intern .email
{
	width: 45%;
	display: inline-block;
}
#intern-section .intern .track
{
	width: 5%;
}
#intern-section .intern:hover
{
	background-color: #D1F0F6;
}
#intern-section .intern a
{
	text-decoration: none;
	color: inherit;
}
#intern-section .intern a:hover
{
	color: rgb(100, 100, 225);
}
#details-section
{
	position: fixed;
	z-index: 10;
	height: 100vh;
	top: 0;
	left: 77vw;
	width: 20vw;
	padding-left: 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 4rem;
}
#details-section #details-back
{
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid rgb(80, 80, 130);
	transition: 0.4s ease-out;
	transform: rotate(-90deg);
	margin: 1rem;
	margin-left: 3rem;
	display: none;
}
#details-section #details-back > div
{
	width: 20px;
	height: 20px;
	margin: 17px auto;
	border-top: 1px solid rgb(80, 80, 130);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid rgb(80, 80, 130);
	transform: rotate(45deg);
}
#details-section #details-return
{
	display: none;
	border: 1px solid rgb(80, 80, 130);
	font-size: 1.4rem;
	margin: 3rem;
	width: 60vw;
	text-align: center;
	font-weight: 100;
}
#details-section *
{
	overflow-wrap: break-word;
}
#details-section span, #details-section a
{
	color: rgb(80, 80, 130);
	font-weight: bolder;
	text-decoration: none;
}
#details-section #no-intern
{
	display: block;
	margin: 0 auto;
	color: crimson;
}
/* #sidebar
{
	background: linear-gradient(180deg, #D1F0F6 0%, #00aeff 100%);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100vh;
	width: 15vw;
	padding-top: 1.5rem;
}
#sidebar #upper
{
	display: flex;
	flex-direction: column;
}
#sidebar #upper > *
{
	font-weight: bolder;
	align-self: center;
}
#sidebar #upper #admin-badge
{
	color: #084482;
	background-color: transparent;
	padding: 0.5rem;
	border: 1px solid #084482;
	border-radius: 5px;
	font-weight: bolder;
	margin-bottom: 1.5rem;
}

#sidebar #upper #username
{
	font-size: 1.7rem;
	color: #333333;
}

#sidebar #hr1 {
	border: 0.5px solid white;
	width: 80%;
}

#sidebar #lower #hr2 {
	width: 80%;
	border: 0.5px solid transparent;
	margin: 0.5rem;
}

#sidebar #lower
{
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
#sidebar #lower > *
{
	align-self: center;
}

#sidebar #lower select
{
	font-family: inherit;
	background-color: #D1F0F6;
	align-self: center;
	outline: none;
	border: none;
	border-radius: 3px;
	font-weight: bolder;
	font-size: 1rem;
	padding: 0.3rem;
	cursor: pointer;
}
#sidebar #lower select option
{
	font-weight: bolder;
}
#sidebar img
{
	border-radius: 50%;
	margin-bottom: 0.5rem;
}
#sidebar a
{
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-size: 16px;
} */

#table-row {
	padding-left: 20px;
	padding-right: 20px;
}

#table-row th {
	background-color: #D1F0F6;
}

.row{
	margin-top:15px;
}
.row.first{
	margin-top:0;
}

@media (max-width: 860px)
{
	main
	{
		margin-left: 0;
		padding: 0.5rem;
		min-height: 100vh;
		padding-top: 0;
	}
	#overview-section
	{
		margin: 0 auto;
		width: 90vw;
	}
	#overview-section h1, #overview-section h2
	{
		text-align: center;
	}
	#overview-section #export
	{
		padding: 0.5rem 1.5rem;
		font-size: 16px;
		border-radius: 5px;
	}

	#overview-section .col-md-3{
		/* border: 1px solid green; */
		margin-left: 37.5%;
	}
	#intern-section
	{
		max-height: 60vh;
	}
	#intern-section .intern
	{
		font-size: 14px;
	}
	#intern-section .intern .name
	{
		display: inline-block;
		width: 50%;
	}
	#intern-section .intern .email
	{
		width: 50%;
		display: inline-block;
	}
	#intern-section .intern .track
	{
		width: 0;
		display: none;
	}
	#details-section
	{
		background-color: rgb(240, 240, 240);
		z-index: 2;
		width: 100vw;
		transition: 0.4s ease-out;
		left: 100vw;
		font-size: 17px;
	}
	#details-section #details-back
	{
		display: block;
	}
	#details-section #details-return
	{
		display: block;
		color: rgb(80, 80, 130);
	}

	/* #sidebar
	{
		width: 40vw;
		left: -100vw;
		transition: 0.4s ease-out;
		z-index: 5;
		padding-top: 4rem;
	}
	#sidebar a
	{
		font-size: 14px;
	}

  #sidebar #lower #hr2 {
    width: 80%;
    border: 0.5px solid transparent;
    margin: 0.35rem;
  } */

	#mobile-bars
	{
        display: block;
        margin-left: 40vw;
        z-index: 10;
    }
    #mobile-bars-check:checked ~ #mobile-bars > #stik1
    {
		transform: rotate(45deg) translateY(7px) translateX(5px);
		background-color: dimgray;
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik2
    {
        width: 0;
        opacity: 0;
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik3
    {
		transform: rotate(-45deg) translateY(-8px) translateX(5px);
		background-color: dimgray;
    }

    #mobile-bars-check:checked ~ #sidebar
    {
        left: 0;
    }
}



/*////////////Custom Scroll bar///////////////////////////////////////////////*/

  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #contents {
    position: relative;
    transition: .3s;
	background-color: #2a2b3d;
  }


  .welcome {
    color: #CCC;
  }
  .welcome .col-md-9{
	margin-left: 12.5%;
  }
  .welcome .content {
    background-color: #313348;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px
  }
  .welcome h2 {
    font-family: Calibri;
    font-weight: 100;
	margin-top: 0;
	text-align: center;
  }
  .welcome p {
    color: #999;
  }


 /* mentor, intern, admin statistics  */
  .statis {
    color: #EEE;
    /* margin-top: 15px; */
    width: 100%;
  }
  .statis a{
		color: rgba(0,174,255,0.8);
	}
  .statis a:hover,
  .statis a:active{
		text-decoration: none;
		color: rgba(0,174,255,1);
	}
  .statis .box {
    position: relative;
    padding: 15px;
    overflow: hidden;
    border-radius: 3px;
	/* margin-bottom: 25px; */
	box-shadow: 1px 0 3px rgba(0,0,0,0.3);
	/* background-color: #00aeff !important; */
	background-color: #fefefe !important;
  }
  .statis .box h3:after {
    content: "";
    height: 2px;
    width: 70%;
    margin: auto;
    background-color: rgba(0, 174, 255, 0.15);
    display: block;
    margin-top: 10px;
  }
  .statis .box i {
    position: absolute;
    height: 70px;
    width: 70px;
    font-size: 22px;
    padding: 15px;
    top: -25px;
    left: -25px;
    background-color: rgba(0, 174, 255, 0.15);
    line-height: 60px;
    text-align: right;
    border-radius: 50%;
  }




  .main-color {
	/* color: #b31329 */
	color: #222;
  }
  .warning {background-color: #f0ad4e}
  .danger {background-color: #d9534f}
  .success {background-color: #5cb85c}
  .inf {background-color: #5bc0de} */


    /*////////////////// Nav-bar////////////////////////////////// */


  .navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
  }
  .nav.navbar-nav{
	background-color:#00aeff !important;
  }
  .navbar-default {
	/* background-color: #337ab7 !important; */
	background-color:#00aeff !important;
	/* background: linear-gradient(180deg, #D1F0F6 0%, #00aeff 100%); */
    border: none !important;
    border-radius: 0 !important;
	margin: 0 !important;
  }

  .navbar-default .navbar-nav>li>a {
    color: #EEE !important;
    line-height: 55px !important;
	padding: 0 10px !important;
  }
  .navbar-default .navbar-brand {
	  color:#FFF !important;
	}
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover {color: #EEE !important}


  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

  .navbar-default .navbar-brand {line-height: 55px !important; padding: 0 !important}
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {color: #FFF !important}
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}


  .navbar-default .navbar-nav>li>a {
    float: left !important;
  }
  .navbar-default .navbar-nav>li>a>span:not(.caret) {
    background-color: #e74c3c !important;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important
  }
  .dropdown-menu>li>a {
    padding-top: 5px !important;
    padding-right: 5px !important;
  }
  .navbar-default .navbar-nav>li>a>i {
    font-size: 18px !important;
  }

/*/////////////////// Media Queries////////////////////////*/

  @media(max-width:991px){
	.content h2{
		text-align: center;
	}
	.welcome .col-md-9{
		margin-left: 0;
	  }
	.row{
		margin-top:0;
	}
	.statis .box {
	  margin-bottom: 25px; 
	}
  }

  @media(min-width:768px) and (max-width:991px){
	#overview-section .col-md-3{
		margin-left: 0;
	}
  }

  @media(min-width:768px) and (max-width:860px){
	.navbar-default .container-fluid .navbar-header{
		display: none;
	}
  }



  @media (max-width: 767px) {

	#overview-section .col-md-3{

		margin-left: 0;
	}
	.content h2{
		font-size: 25px;
		text-align: center;
	}

    .navbar-default .navbar-nav>li>a {
      padding-left: 0 !important;
	}
	.navbar-default .container-fluid .navbar-header{
		display: flex;
		justify-content: flex-end;
	}

	.navbar-default .container-fluid .navbar-header>*{
		margin-left: calc(42% - 56px);
	}
    .navbar-nav {
      margin: 0 !important;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border: none !important;
	}

	#contents {
		margin: 0 !important
	  }

	  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #CCC !important
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #FFF !important
	  }
	  .navbar-default .navbar-toggle{
		border:none !important;
		color: #EEE !important;
		font-size: 18px !important;
	  }
	  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		  background-color: transparent !important
		}

  }


  @media (max-width: 440px) {
	
	.welcome .content {
		padding: 15px 10px 15px 10px;
	  }
	.navbar-default .container-fluid .navbar-header>*{
		margin-left: calc(36% - 56px);
	}
  }

  @media (max-width: 360px){
	  .content h2{
		font-size: 22px;
	}
  }

.charts{
	margin-top: 2rem;
	background-color:#fefefe;
	box-shadow: 1px 0 3px rgba(0,0,0,0.3);
}

.intern-table, .mentor-table{
	display: none;
}

.options{
	text-align: center;
}
.options label,
.options input[type="radio"]{
	display: inline-block;
	margin-left: 1em;
	margin-right: 0.5em;
	color: rgba(0,174,255,1)
}
#count_by_state,
#count_by_state2,
#count_by_track,
#count_by_track2{
	display: none !important;
}
#count_by_state.active,
#count_by_state2.active,
#count_by_track.active,
#count_by_track2.active{
	display: block !important;
}

#intern-breakdown-pie,
#intern-breakdown-bar,
#mentor-breakdown-bar,
#mentor-breakdown-pie{
	display: none !important;
}

#intern-breakdown-pie.active,
#intern-breakdown-bar.active,
#mentor-breakdown-bar.active,
#mentor-breakdown-pie.active{
	display: block !important;
}