@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body 
{
    font-family: "Open Sans", segoe UI, sans-serif;
    padding: 0;
    margin: 0;
    --sidebar-width: 10vw;
}
html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
main
{
	background-color: rgb(240, 240, 240);
	margin-left: var(--sidebar-width);
	padding: 2rem;
	height: 90vh;
}
h1
{
	font-size: 35px;
}
.center-text
{
	text-align: center;
}
#mobile-bars 
{
    position: absolute;
    left: -35vw;
    top: 3vh;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.stix 
{
    border-radius: 3px;
    height: 3px;
    width: 30px;
    background-color: dimgray;
    margin: 5px 0;
    transition: 0.4s ease;
}

#mobile-bars-check 
{
    display: none;
}
#overview-section
{
	width: 60vw;
}
#overview-section #export
{
	background-color: rgb(80, 80, 130);
	color: white;
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	margin: 2rem auto;
	cursor: pointer;
	display: block;
	transition: 0.6s ease-out;
}
#overview-section #export:hover
{
	background-color: rgb(110, 110, 160);
}
#overview-section h1, #overview-section h2, #details-section h2
{
	color: rgb(80, 80, 130);
}
#intern-section
{
	max-height: 50vh;
	width: 100%;
	background-color: white;
	overflow-y: scroll;
	padding: 0.5rem;
}
#intern-section .intern
{
	background-color: white;
	border-bottom: 1px solid dimgray;
	width: 95%;
	padding: 0.5rem;
	cursor: pointer;
	overflow-x: hidden;
}
#intern-section .intern .name
{
	display: inline-block;
	width: 40%;
}
#intern-section .intern .email
{
	width: 45%;
	display: inline-block;
}
#intern-section .intern .track
{
	width: 5%;
}
#intern-section .intern:hover
{
	background-color: #D1F0F6;
}
#intern-section .intern a
{
	text-decoration: none;
	color: inherit;
}
#intern-section .intern a:hover
{
	color: rgb(100, 100, 225);
}
#details-section
{
	position: fixed;
	z-index: 10;
	height: 100vh;
	top: 0;
	left: 77vw;
	width: 20vw;
	padding-left: 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 4rem;
}
#details-section #details-back
{
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid rgb(80, 80, 130);
	transition: 0.4s ease-out;
	transform: rotate(-90deg);
	margin: 1rem;
	margin-left: 3rem;
	display: none;
}
#details-section #details-back > div
{
	width: 20px;
	height: 20px;
	margin: 17px auto;
	border-top: 1px solid rgb(80, 80, 130);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid rgb(80, 80, 130);
	transform: rotate(45deg);
}
#details-section #details-return
{
	display: none;
	border: 1px solid rgb(80, 80, 130);
	font-size: 1.4rem;
	margin: 3rem;
	width: 60vw;
	text-align: center;
	font-weight: 100;
}
#details-section *
{
	overflow-wrap: break-word;
}
#details-section span, #details-section a
{
	color: rgb(80, 80, 130);
	font-weight: bolder;
	text-decoration: none;
}
#details-section #no-intern
{
	display: block;
	margin: 0 auto;
	color: crimson;
}
#sidebar
{
	background: linear-gradient(180deg, #D1F0F6 0%, #11CDEF 100%);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100vh;
	width: var(--sidebar-width);
	padding-top: 4rem;
}
#sidebar #upper
{
	display: flex;
	flex-direction: column;
}
#sidebar #upper > *
{
	font-weight: bolder;
	align-self: center;	
}
#sidebar #upper em
{
	font-size: 0.8rem;
}
#sidebar #lower
{
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
}
#sidebar #lower > *
{
	align-self: center;
	margin-top: 1.4rem;
}
#sidebar #lower select
{
	font-family: inherit;
	background-color: #D1F0F6;
	align-self: center;
	outline: none;
	border: none;
	border-radius: 3px;
	font-weight: bolder;
	font-size: 1rem;
	padding: 0.3rem;
	cursor: pointer;
}
#sidebar #lower select option
{
	font-weight: bolder;
}
#sidebar img
{
	border-radius: 50%;
}
#sidebar a
{
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

@media (max-width: 860px)
{
	main
	{
		margin-left: 0;
		padding: 0.5rem;
		min-height: 100vh;
	}
	#overview-section
	{
		width: 90vw;
	}
	#overview-section h1, #overview-section h2
	{
		text-align: center;
	}
	#overview-section #export
	{
		padding: 0.5rem 1.5rem;
		font-size: 16px;
		border-radius: 5px;
		margin: 3rem auto;
	}
	#intern-section
	{
		max-height: 60vh;
	}
	#intern-section .intern
	{
		font-size: 14px;
	}
	#intern-section .intern .name
	{
		display: inline-block;
		width: 50%;
	}
	#intern-section .intern .email
	{
		width: 50%;
		display: inline-block;
	}
	#intern-section .intern .track
	{
		width: 0;
		display: none;
	}
	#details-section
	{
		background-color: rgb(240, 240, 240);
		z-index: 2;
		width: 100vw;
		transition: 0.4s ease-out;
		left: 100vw;
		font-size: 17px;
	}
	#details-section #details-back
	{
		display: block;
	}
	#details-section #details-return
	{
		display: block;
		color: rgb(80, 80, 130);
	}


	#sidebar
	{
		width: 50vw;
		left: -100vw;
		transition: 0.4s ease-out;
		z-index: 5;
	}
	#sidebar a
	{
		font-size: 14px;
	}
	#mobile-bars 
	{
        display: block;
        margin-left: 40vw;
        z-index: 10;
    }
    #mobile-bars-check:checked ~ #mobile-bars > #stik1 
    {
        transform: rotate(45deg) translateY(7px) translateX(5px);
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik2 
    {
        width: 0;
        opacity: 0;
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik3 
    {
        transform: rotate(-45deg) translateY(-8px) translateX(5px);
    }

    #mobile-bars-check:checked ~ #sidebar
    {
        left: 0;
    }
}