@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: "Open Sans", segoe UI, sans-serif;
    padding: 0;
    margin: 0;
    --sidebar-width: 10vw;
}
html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
main
{
	background-color: rgb(255, 255, 255) ;
	margin-left: 15vw; /* Same as sidebar width*/
	padding: 2rem;
	height: 100vh;
}
h1
{
	font-size: 25px;
}

.center-text
{
	text-align: center;
}
#mobile-bars
{
    position: absolute;
    left: -35vw;
    top: 3vh;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
/*Table Styles */

.prime-table {
	width: 100%;
	border-collapse: collapse;
}

.prime-table td, .prime-table th {
	padding: 12px 15px;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 16px;
}

.prime-table th {
	background-color:  rgb(22, 203, 239);
	color: #fff;
}

.prime-table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
	border: none;
}
/*
.prime-table tbody tr:nth-child(even) td {
	border: none;
}

*/


/* Table Made Responsive */ 


@media screen and (min-width: 315px) and (max-width: 850px) {
	.prime-table thead {
		display: none;
	}

	.prime-table, 
	.prime-table tbody, 
	.prime-table tr, 
	.prime-table td {
		display: block;
		width: 100%;
	} 
	 
	.prime-table tr {
		margin-bottom: 15px;
	}

	.prime-table td {
		text-align: right;
		padding-left: 50%;
		text-align: right;
	}

	.prime-table td::before {
		content: attr(data-label);
		position: absolute;
		left: 15px;
		text-align: left;
		width: 50%;
	}

	.prime-table td:nth-last-child(1) {
		display: inline-block; 
	}
}

@media screen and (min-width: 480px) {
	.prime-table td {
		right: 20px;
	}
}





.stix
{
    border-radius: 3px;
    height: 3px;
    width: 30px;
    background-color: dimgray;
    margin: 5px 0;
    transition: 0.4s ease;
}

/* Edit to Navbar */
.badger {
	width: 100%;
	padding: 10px;
	background-color: #00aeff;
	border: none;
	letter-spacing: 3px;
	
	color: #fff;
	border-radius: none;
	margin-bottom: 5em;
	position: absolute;
	text-align: center;
	top: 0;
}

.nav {
	background-color: #23282d;
	color: #fff;
}

#mobile-bars-check
{
    display: none;
}
#overview-section
{
	width: 82vw;
}
#overview-section #export
{
	color: white;
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	margin: 2rem auto;
	cursor: pointer;
	display: block;
	transition: 0.6s ease-out;
}
.searchBox {
    position: absolute;
    right: 24%;
    border-radius: 30px;
    width: 225px;
    height: 30px;
    padding-left: 25px;
    background-color: #FFFFFF;
    outline: blue;
    margin-top: 32px;
}

#overview-section h1 {
	background-color: #f3f3f3;
	margin-top: 1rem;
	font-size: 25px;
	padding: 5px;
	padding-left: 7px;
	border-radius: 5px;
	box-shadow: 1px 0 3px rgba(0,0,0,0.3);
}

#overview-section h2 {
	font-size: 24px;
}
#overview-section h1, #overview-section h2, #details-section h2
{
	color: #333333;
}

#overview-section #welcome {
	margin: -1rem 1px;
	padding: 0;
}

#intern-section
{
	max-height: 50vh;
	width: 100%;
	background-color: white;
	overflow-y: scroll;
	padding: 0.5rem;
}
#intern-section .intern
{
	background-color: white;
	border-bottom: 1px solid dimgray;
	width: 95%;
	padding: 0.5rem;
	cursor: pointer;
	overflow-x: hidden;
}
#intern-section .intern .name
{
	display: inline-block;
	width: 40%;
}
#intern-section .intern .email
{
	width: 45%;
	display: inline-block;
}
#intern-section .intern .track
{
	width: 5%;
}
#intern-section .intern:hover
{
	background-color: #D1F0F6;
}
#intern-section .intern a
{
	text-decoration: none;
	color: inherit;
}
#intern-section .intern a:hover
{
	color: rgb(100, 100, 225);
}
#details-section
{
	position: fixed;
	z-index: 10;
	height: 100vh;
	top: 0;
	left: 77vw;
	width: 20vw;
	padding-left: 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 4rem;
}
#details-section #details-back
{
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid rgb(80, 80, 130);
	transition: 0.4s ease-out;
	transform: rotate(-90deg);
	margin: 1rem;
	margin-left: 3rem;
	display: none;
}
#details-section #details-back > div
{
	width: 20px;
	height: 20px;
	margin: 17px auto;
	border-top: 1px solid rgb(80, 80, 130);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid rgb(80, 80, 130);
	transform: rotate(45deg);
}
#details-section #details-return
{
	display: none;
	border: 1px solid rgb(80, 80, 130);
	font-size: 1.4rem;
	margin: 3rem;
	width: 60vw;
	text-align: center;
	font-weight: 100;
}
#details-section *
{
	overflow-wrap: break-word;
}
#details-section span, #details-section a
{
	color: rgb(80, 80, 130);
	font-weight: bolder;
	text-decoration: none;
}
#details-section #no-intern
{
	display: block;
	margin: 0 auto;
	color: crimson;
}

/* Sidebar begins here */
#sidebar
{
	background-color: #23282d;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100vh;
	width: 15vw;
	padding-top: 1.5rem;
}
#sidebar #upper
{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
#sidebar #upper > *
{
	font-weight: bolder;
	align-self: center;
}
#sidebar #upper #admin-badge
{
	color: #084482;
	background-color: transparent;
	border: none;
	letter-spacing: 3px;
	font-weight: bolder;
}

#sidebar #upper #username
{
	font-size: 1.7rem;
	color: #535353;
}

#sidebar #hr1 {
	border: 0.25px solid rgb(70, 69, 69);
	width: 80%;
}

#sidebar #lower #hr2 {
	width: 80%;
	border: 0.5px solid transparent;
	margin: 0.5rem;
	
}

#sidebar #lower
{
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
#sidebar #lower > *
{
	align-self: flex-start;
	margin-left: 50px;
	color: rgb(229, 228, 228);
	

}

#sidebar #lower select
{
	font-family: inherit;
	background-color: #D1F0F6;
	align-self: center;
	outline: none;
	border: none;
	border-radius: 3px;
	font-weight: bolder;
	font-size: 1rem;
	padding: 0.3rem;
	cursor: pointer;
}
#sidebar #lower select option
{
	font-weight: bolder;
}
#sidebar img
{
	border-radius: 50%;
	margin-bottom: 0.5rem;
	height: 100px;
	width: 100px;
}
#sidebar a
{
	text-decoration: none;
	font-size: 16px;
}
/* AuGhost Touches */ 



/*

#table-row {
	padding-left: 20px;
	padding-right: 20px;
}

#table-row th {
	background-color: #D1F0F6;
}

*/
@media (min-width:860px) and (max-width:1076px){
	
	#sidebar .badger #admin-badge{
		font-size: 10px;
		text-align: left;
	}
	
}
@media (max-width: 860px)
{
	main
	{
		margin-left: 0;
		padding: 0.5rem;
		min-height: 100vh;
	}
	.badger{
		height: 59.5px;
	}
	#overview-section
	{
		margin: 0 2rem;
		width: 90vw;
	}
	#overview-section h1,#overview-section h2 {
		font-size: 20px;
		text-align: center;
	}
	#overview-section #export
	{
		padding: 0.5rem 1.5rem;
		font-size: 16px;
		border-radius: 5px;
		margin: 3rem auto;
	}
	#intern-section
	{
		max-height: 60vh;
	}
	#intern-section .intern
	{
		font-size: 14px;
	}
	#intern-section .intern .name
	{
		display: inline-block;
		width: 50%;
	}
	#intern-section .intern .email
	{
		width: 50%;
		display: inline-block;
	}
	#intern-section .intern .track
	{
		width: 0;
		display: none;
	}
	#details-section
	{
		background-color: rgb(240, 240, 240);
		z-index: 2;
		width: 100vw;
		transition: 0.4s ease-out;
		left: 100vw;
		font-size: 17px;
	}
	#details-section #details-back
	{
		display: block;
	}
	#details-section #details-return
	{
		display: block;
		color: rgb(80, 80, 130);
	}


	#sidebar
	{
		width: 50vw;
		left: -100vw;
		transition: 0.4s ease-out;
		z-index: 5;
		padding-top: 4rem;
	}
	#sidebar a
	{
		font-size: 14px;
	}

  #sidebar #lower #hr2 {
  	width: 80%;
  	border: 0.5px solid transparent;
  	margin: 0.35rem;
  }

	#mobile-bars
	{
        display: block;
        margin-left: 40vw;
        z-index: 10;
    }
    #mobile-bars-check:checked ~ #mobile-bars > #stik1
    {
        transform: rotate(45deg) translateY(7px) translateX(5px);
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik2
    {
        width: 0;
        opacity: 0;
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik3
    {
        transform: rotate(-45deg) translateY(-8px) translateX(5px);
    }

    #mobile-bars-check:checked ~ #sidebar
    {
        left: 0;
    }
}


/* styling for new sidebar */
.menu{
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px;
    
}
.menu a{
    text-decoration: none;
    color: white;
    padding-left: Calc(50% - 49px);
}
.menu a:hover{
	color: #00aeff;
}
.item{
	
    border-top: 1px solid rgba(225,225,225,0.05);
    overflow: hidden;
    background: rgba(35,40,45,0);
}


.btns{
    display: block;
    padding: 16px 20px;
    color: white;
    position: relative;
}

.btns::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #23282d;
    left: 25px;
    bottom: -7px;
    transform: rotate(45deg);
}
.item span::after{
	position: absolute;
    content: "\f078";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
	color:#00aeff;
	left: 80%;
}
.item.active span::after{
    content: "\f077";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
   
}
.btns i, .submenu i{
    margin-right: 7px;
}
.submenu{
    background: #313348;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}
.submenu a{
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.item a:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #00aeff;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}
.item a:hover::after{
    opacity: 1;
}

.item.active .submenu{
    max-height: 17em !important;
} 

@media (min-width:860px) and (max-width:1024px){
	#sidebar a{
		/* font-size: 14px; */
		padding-left: 6px;
		padding-right: 0px;
	}
	.news{
		font-size: 15px;
	}
}