:root {
  --dark-blue: #084482;
  --blue: #00aeff;
  --light-blue: #d1f0f6;
  --other-blue: #3c6b9c;
}

* {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

.hero {
  background: var(--light-blue);
}

.hero-cont {
  margin-top: 10vh;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  text-align: center;
  color: var(--dark-blue);
}

.hero-cont .title {
  font-weight: 600;
  font-size: 30px;
}

.hero-cont .desc {
  color: #474747;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  font-size: 16px;
}

a.button-primary,
.banner.form form input[type='submit'] {
  display: inline-block;
  color: white;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  outline: none;
  border: none;
  transition: 0.4s ease-out;
}

a.button-primary:hover,
.banner.form form input[type='submit']:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.whatwe {
  display: flex;
  flex-direction: row-reverse;
  height: 70vh;

  /* margin: 20px auto; */
}

.whatwe > * {
  max-width: 50%;
  flex-grow: 1;
}

.whatwe figure {
  margin: 0;
}

.whatwe figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whatwe .text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background: rgba(128, 217, 233, 0.07);
}

.whatwe .text .title {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 24px;
}

.whatwe .text .list {
  padding-left: 18px;
}

@media only screen and (min-width: 1140px) {
  .whatwe .text {
    padding: 128px;
  }
}

@media only screen and (max-width: 700px) {
  .whatwe {
    flex-wrap: wrap;
    height: auto;
  }

  .whatwe > * {
    max-width: 100%;
  }
}

.women {
  display: flex;
  height: 70vh;

  /* margin: 20px auto; */
}

.women > * {
  max-width: 50%;
  flex-grow: 1;
}

.women figure {
  margin: 0;
}

.women figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.women .text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background: rgba(128, 217, 233, 0.07);
}

.women .text .title {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 24px;
}

.women .text .list {
  padding-left: 18px;
}

@media only screen and (min-width: 1140px) {
  .women .text {
    padding: 128px;
  }
}

@media only screen and (max-width: 700px) {
  .women {
    flex-wrap: wrap;
    height: auto;
  }

  .women > * {
    max-width: 100%;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  padding: 32px;

  background: var(--light-blue);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .title {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 24px;
}

.banner .desc,
.banner .title {
  max-width: 600px;
}

.banner.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  text-align: left;
  align-items: center;
}

.banner.form form input[type='number'],
.banner.form form input[type='text'],
.banner.form form input[type='email'] {
  width: 100%;
  display: block;
  height: 50px;
  padding: 0 0 0 40px;
  margin-bottom: 16px;
}

.banner.form form label {
  width: 100%;
  margin-bottom: 4px;
}

.banner.form form select {
  width: 100%;
  padding: 0 0 0 40px;
  margin-bottom: 16px;
  background: white;
  height: 50px;
}

.banner#supportForm {
  background: var(--other-blue);
}

.banner#supportForm .desc,
.banner#supportForm .title,
.banner#supportForm form label {
  color: white;
}
