@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

.navigation {
  background: #d1f0f6;
  margin: 0 !important;
  padding: 0 !important;
 }

 .navbar-toggler-icon {
  border-radius: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}


.header_container {
  background-color: #D1F0F6;
  text-align: center;
  padding-bottom: 20px;
}

.header_container h1 {
  color: #084482;
  font-weight: bolder;
}

.header_container p {
  color: #474747;
}

#nav {
  background-color: #d1f0f6;
  color: #474747;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  outline: none;
}



.myaccordion {
    box-shadow: 0 0 1px rgba(51, 8, 8, 0.1);
    width: 100%;
    margin: 80px 0;
    padding:1rem;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
  
    
}

.myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
    margin: 0;
    padding: 0;
}

.myaccordion .fa-stack {
    font-size: 20px;
}

.myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #00AEFF;
    padding: 0;
    font-size: 15px;
    font-family: Open Sans;
    text-align: left;
    margin-bottom: 20px;
}

.myaccordion .btn i {
  margin-left: 30px;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li+li {
    margin-top: 20px;
 
}
.freq-n h3{
text-transform: capitalize;
}

#btn-here{
  background-color: #00AEFF;
  border: 0;
}
#btn-here:hover{
    opacity: .5;
    color: white;
}
.freq-n h3 a {
  color: white;
  background-color: #00AEFF;
}

.freq-n h3 a:hover {
  color: white;
  opacity: .7;
}

.contact-heading {
  font-weight:bold;
  font-size: 25px;
  text-align: center;
  line-height: 32px;
  color: #084482;
}