@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

.header_container {
  background-color: #D1F0F6;
  text-align: center;
  padding-bottom: 20px;
}

.header_container h1 {
  color: #084482;
  font-weight: bolder;
}

.header_container p {
  color: #474747;
}



.myaccordion {
    box-shadow: 0 0 1px rgba(51, 8, 8, 0.1);
    width: 100%;
    margin: 80px 0;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
  
    
}

.myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
    margin: 0;
    padding: 0;
}

.myaccordion .fa-stack {
    font-size: 20px;
}

.myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #00AEFF;
    padding: 0;
    font-size: 23px;
    font-family: Open Sans;
    text-align: left;
    margin-bottom: 20px;
}

.myaccordion .btn i {
  margin-left: 30px;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li+li {
    margin-top: 20px;
 
}
.freq-n h1{
text-transform: capitalize;
}