@media screen and (min-width: 0) {
    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", segoe UI, sans-serif;
        color: rgba(0, 0, 0, 0.8);
    }

    main {
        padding: 0;
    }

    .countdown1 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 3em;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .shadowed {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .center-text {
        text-align: center;
    }
    .skyblue-text {
        color: #00AEFF;
    }
    .blue-text {
        color: #084482;
    }
    .darkblue-text {
        color: #8898AA;
    }
    /*COUNT DOWN STYLING STARTS */

    #countdown-section {
        width: 100%;
    }
    .countdown-symbol {
        border-radius: 100%;
        position: relative;
        height: 3.5rem;
        width: 3.5rem;
        font-size: 1.5rem;
        font-family: Oswald, segoe UI, sans-serif;
        margin-right: 30px;
    }
    .countdown-symbol>span {
        position: absolute;
        right: 1rem;
        top: 0.1rem;
    }
    .countdown-symbol+p {
        font-weight: lighter;
        font-size: 13px;
        text-align: left;
        margin-left: 10px;
        font-family: Oswald, segoe UI, sans-serif;
    }
    .arc, .arcs-background {
        position: absolute;
        top: -0.4rem;
        left: 0.1rem;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 0.4rem solid;
        border-color: #06F4CC #06F4CC transparent transparent;
    }
    .arcs-background {
        border-color: rgba(240, 240, 240);
        border-width: 0.4rem;
    }
    .arc_start {
        transform: rotate(45deg);
    }
    .arc_end {
        z-index: 10;
        transform: rotate(-135deg);
    }
    
    #countdown-container {
        width: 50vw;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #countdown-intro {
        font-size: 20px;
        font-weight: bold;
        line-height: 27px;
    }
    #countdown-register {
        padding: 0.3rem 1rem;
        transition: 0.4s ease-out;
        font-weight: bold;
        font-size: 20px;
        margin: 10px auto;
    }
    #countdown-register:hover {
        color: white;
        background-color: #00AEFF;
        text-decoration: none;
    }
  
    /*COUNT DOWN STYLING ENDS */

    /*ABOUT PAGE STARTS*/

    #home-about {
        width: 100%;
        margin: 50px auto;

    }
    #home-about h1 {
        width: 100%;
        font-size: 40px;
        font-weight: 600;
        color: #084482;
        margin-right: auto;
        margin-bottom: 50px;
    }

    #about-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        width: 100%;
        margin: 0 auto;
        margin-top: 8em;
    }
    #about-container article {
        font-size: 15px;
    }

    #about-container h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
    }
    
    #about-container article img {
        position: absolute !important;
        width: 50vw;
        right: 0!important;
        max-width: 794px;
        max-height: 711px;
    }
        /*ABOUT PAGE ENDS */
        /*GALLERY STARTS HERE */
        .gallery {
            margin-top: 8em;
           width: 100%;
           text-align: center;

        }

        .gallery h2 {
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            line-height: 34px;
        }

        .gallery_items {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
        }

        .gallery_items img {
            width: 100%;
            height: auto;
            margin: 15px auto;
            transition: width 2s;

        }

         .gallery #hidden_images {
            display: none;
        }

        .gallery .def-button {
            border: none;
        }
        /*GAKKERY ENDS HERE */


    #participate-section {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 50px auto;
        font-size: 17px;
        text-align: left;
    }

    #participate-section article {
        display: block;
        width: 100%;
    }
    #participate-section h2 {
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
        width: 100%;
        margin: 20px auto;
        text-align: left;
    }
    #participate-section p {
        font-size: 16px;
    }

    #participate-section img {
        width: 100%;
        height: 100%;
    }
    .section3 {
        width: 100%;
    }
    .section3 h2 {
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
    }
    #curriculum-flex {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 18px;
        text-align: left;
    }
    #curriculum-flex p {
        width: 100%;
        font-size: 16px;
    }
    #curriculum-flex #track-list {
        width: 100%;
    }
    #curriculum-flex #track-list a {
        color: #00AEFF;
        display: block;
        margin-bottom: 1rem;
        font-size: 16px;
    }

    #main-mentor-section {
        width: 100%;
        background-color: rgb(245, 245, 245);
    }

    #mentor-section {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        width: 90%;
        background-color: rgb(245, 245, 245);
        margin: 50px auto;
    }
    
    #mentor-section h2 {
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
        text-align: left;
        margin-bottom: 50px;
    }

    #mentor-section #mentor-wrapper {
        width: 100%;
        margin-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    #mentor-section #mentor-flex {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    #mentor-flex img {
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 150px;
        height: 160px;
    }
    #mentor-flex .mentor-name {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 0;
    }
    #mentor-flex .mentor-desc {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 0.4rem;
    }

    .def-button {
        color: white;
        background-color: #00AEFF;
        padding: 10px 20px;
        border-radius: 4px;
    }

    .def-button:hover {
        text-decoration: none;
        color: white;
        opacity: .7;
    }
    .section4 {
        margin: 100px auto;
        width: 100%;
    }
    .section4 h2 {
        line-height: 34px;
        font-size: 25px;
        font-weight: bold;
        margin-top: -20px;
    }
    #slack-channels #slack-title {
        position: relative;
        padding: 0.5rem;
    }
    #slack-channels h2 {
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
    }
    #slack-channels #slack-logo {
        position: absolute;
    }
    #slack-channels span {
        padding: 0.5rem;
    }
    #slack-channels #channel-list {
        width: 65%;
        margin: 1rem auto;
    }
    #slack-channels #channel-list * {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 1.5rem;
        font-size: 17px;
    }
    .sponsor {
        margin-bottom: 3em;
    }

    .sponsor h2 {
        font-weight: bold;
        font-size: 25px;
        line-height: 34px;
        color: #3C6B9C;
        margin-bottom: 2em;
    } 
    .sponsor button {
        margin: 20px auto;
    }

    .sponsor .second-row {
        margin-top: 5em;
        width: 70%;
        padding-left: 0;
        margin-bottom: 4em;
    }
} 

@media screen and (min-width: 760px){

    #about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #home-about article {
        width: 100%;
        display: block;
        padding: 20px;
    }

    #home-about article:first-child{
        margin-top: -50px;
    }
    .gallery_items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        width: 100%;
    }

    #participate-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        column-gap: 30px;
    }

    #participate-section div:first-child {
        text-align: left;
        margin-top: 50px;
    }

    #curriculum-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 100px;
    }

    #curriculum-flex div:first-child {
        text-align: left;
    }

    #curriculum-flex div:nth-child(2) {
        text-align: right;
    }
    #mentor-section {
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 50px;
        padding: 50px;
    }

    #mentor-section #mentor-wrapper {
        padding-left: 80px;

    }

    #mentor-section #mentor-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

    }

    #mentor-section #mentor-flex img {
        width: 70%;
        height: auto;
    }
    #mentor-section > div:first-child {
        margin-top: 50px;
        text-align: left;
    }
}

@media screen and (min-width : 1200px){
    #about-container article:first-child {
        margin: 0 auto;
        margin-top: -50px;        
    }

    #about-container article img {
        height: 600px;
    }
}

@media screen and (max-width: 759px) {
    #home-about h1 {
        margin-top: 0;
    }

    #countdown-section {
        margin-top: 3em;
    }

    .countdown1 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 3em;
        zoom: 0.5 !important;
    }

    #about-container article p{
        width: 90vw;
        padding-bottom: 40px;
    }

    #about-container article img {
        display: none !important;
    }

    .gallery {
       width: 100%;
       text-align: center;
       margin-top: 4em;
    }

    .gallery h2 {
        text-align: center;
    }

    .sponsor h2 {
        margin-bottom: 3em;
    } 

    .sponsor .second-row {
        margin-top: 0;
        width: 100%;
        padding: auto;  
    }

    .sponsor img {
        margin-bottom: 4em;
    }
}

@media screen and (max-width: 1199px){
    .support {
        margin-top: 5em;
        width: 100%;
        z-index: 2;
        text-align: center;
    }

    .sponsor .second-row {
        margin-top: 0;
        width: 100%;
        padding: auto;
        margin: auto;
    }

    .sponsor img {
        margin-bottom: 4em;
    }
}