body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h2{
text-align: center !important;
margin-top: 20px;
}
.container-scroll{
    max-height: 150px;
    overflow:auto;
    margin-bottom:20px;
}
table{
    width: 100%;
    text-align: center; 
   margin-top: 20px; 
   /* margin-bottom: 40px;  */
   border-collapse: collapse; 
}
table, th, td{
    border: 1px solid ;
}
table th{
    text-align: ;
    background-color: #00AEFF;
    color: white;
}
.button{
    text-align: center;
    background: #00AEFF;
    padding: .6em 2em;
    color: white;
    font-weight: bold;
    border-radius: 4px;  
    margin-bottom:20px;  
}
.button>a:hover {
    text-decoration: none;
    color: white;
}
@media only screen and (min-width:320px){
    .container-scroll{
        max-height: 200px;
        overflow:auto;
    }
}