* {
  
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }
 body {
  font-family: "Open Sans", sans-serif;
 }

 .navigation {
  background: #d1f0f6 !important;
  margin: 0;
  padding: 0;
 }

 .navbar-toggler-icon {
  border-radius: none;
  box-shadow: none;
}

#nav {
  background-color: #d1f0f6;
  color: #474747;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  outline: none;
  margin: 0 !important;
}

 .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  width: 80vw;
  margin: 1rem auto;
  margin-bottom: 3rem;
 }
 @media screen and (max-width: 400px){
   #header{
       width:90%;
   }
 }
 /* styling of individual input field and textarea */
 .form-container input,
 textarea, select {
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  border:1px solid #0a0a0a86;
  resize: none;
 }
 /* when user click on a field box */
 .form-container input:focus, .form-container textarea:focus, select:focus {
 box-shadow: 0px 0px 10px #45758b;
 border:1px solid #00aeff;
 transition:box-shadow .5s  ease-in-out,border .5s  ease-in-out; ;
 }
 
 /* form.form-container select:invalid { color: gray; } */
 
 form.form-container > button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: #fff;
 }
 section.jumbo {
  background: #d1f0f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0px;
 }
 
 .login-heading {
  width: 100%;
  text-align: center;
 }
 
 
  /* styling of individual input field and textarea */
  .form-container input,
  textarea, select {
   width: 60%;
   padding: 10px 20px;
   margin: 10px auto;
   font-family: inherit;
   font-size: 16px;
   border-radius: 4px;
   border:1px solid #0a0a0a86;
   resize: none;
   transition: 0.4s ease-out;
  }
  /* when user click on a field box */
  .form-container input:focus, .form-container textarea:focus, select:focus {
  box-shadow: 0px 0px 10px #45758b;
  border:1px solid #00aeff;
  transition:box-shadow .5s  ease-in-out,border .5s  ease-in-out; ;
  }
 
  form.form-container > button {
    width: 60%;
   margin: 30px auto;
   display: block;
   padding: 10px 40px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 4px;
   background: #00aeff;
   border: 0px;
   color: #fff;
   transition: 0.4s ease-out;
  }
  form.form-container > button:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
   color: #fff;
  }
 
  .login-heading {
   width: 100%;
   text-align: center;
  }
 
  #check:checked ~ ul {
    left: 0;
  }
 
  @media (max-width: 860px) {
   .form-container
   {
     width: 90%;
   }
   .form-container input, textarea, select {
       width: 90%;
     }
  }
 
  /*Smaller screens*/
  @media screen and (max-width: 578px) {
    * {
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
    }
    body {
      font-family: "Open Sans", sans-serif;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
      width: 90%;
      margin: 1rem auto;
      margin-bottom: 3rem;
    }
    .form-container input,
    textarea, select {
      width: 100%;
      padding: 10px 20px;
      margin: 10px auto;
      font-family: inherit;
      font-size: 16px;
    }
 
    form.form-container > button {
      margin: 30px auto;
      display: block;
      padding: 10px 40px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
      background: #00aeff;
      border: 0px;
      color: #fff;
      transition: 0.4s ease-out;
    }
    form.form-container > button:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      color: #fff;
    }
    section.jumbo {
      background: #d1f0f6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 0px;
    }
 
 
 
  }
 
 
  @media only screen and (max-width: 400px) {
    
  }
 
  @media (max-width: 860px) {
   .form-container
   {
     width: 90%;
   }
   .form-container input, textarea, select {
       width: 350px;
     }
  }
 
   /*Smaller screens*/
   @media screen and (max-width: 578px) {
     * {
       padding: 0;
       margin: 0;
       text-decoration: none;
       list-style: none;
       box-sizing: border-box;
     }
     body {
       font-family: "Open Sans", sans-serif;
     }
     .form-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding-top: 50px;
       width: 90%;
       margin: 1rem auto;
       margin-bottom: 3rem;
     }
     .form-container input,
     textarea, select {
       width: 300px;
       padding: 10px 20px;
       margin: 10px auto;
       font-family: inherit;
       font-size: 16px;
       transition: 0.4s ease-out;
     }
 
     form.form-container > button {
       margin: 30px auto;
       display: block;
       padding: 10px 30px;
       font-size: 16px;
       cursor: pointer;
       border-radius: 4px;
       background: #00aeff;
       border: 0px;
       color: #fff;
       transition: 0.4s ease-out;
     }
     form.form-container > button:hover {
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
       color: #fff;
     }
    
 
   }
 
   @media (max-width: 952px) {
     nav ul li a {
       font-size: 16px;
     }
   }
 
  @media (max-width: 858px) {
 
   .checkbtn {
     display: block;
   }
   nav ul {
     position: fixed;
     width: 100%;
     height: 100vh;
     background: #d1f0f6;
     top: 80px;
     left: -100%;
     text-align: center;
     transition: all 0.5s;
   }
   nav ul li {
     display: block;
     margin: 50px 0;
     line-height: 30px;
   }
   nav ul li a {
     font-size: 20px;
   }
   nav ul li a:hover,
   nav ul li a.active {
     background: none;
     color: #00aeff;
   }
   #check:checked ~ ul {
     left: 0;
   }
   @media only screen and (max-width: 400px) {
 
   }
  }
  .inputWithIcon{
    position: relative;
  }
  .inputWithIcon input[type="email"], input[type="password"]{
    padding-left:3rem;
  }
 
  .inputWithIcon i{
    position: absolute;
    left:0;
    top: 16px;
    color:#8898aa;
    padding:9px 8px;
 
  }
  /* overiding text-danger */
  .small-text{
    font-size:0.8rem;
    color:cornflowerblue !important;
  }
  @media only screen and (max-width: 400px) {
    section.jumbo > h2.heading {
      font-size: 30px;
  }
  section.jumbo > p.para {
    font-size: .85em;
  }
  section.jumbo > p.para2 {
    font-size: .85em;
  }
 
 .navigation {
   background: #d1f0f6;
  }
 
  @media (max-width: 759px) {
 
 }
 .inputWithIcon{
   position: relative;
 }
 .inputWithIcon input[type="email"], input[type="password"]{
   padding-left:3rem;
 }

 .inputWithIcon i{
   position: absolute;
   left:0;
   top: 16px;
   color:#8898aa;
   padding:9px 8px;

 }
 /* overiding text-danger */
 .small-text{
   font-size:0.8rem;
   color:cornflowerblue !important;
 }
 }
 
