body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header img{
    width: 100%;
}
.para{
    text-align: justify;
    font-size: 1em;
}
@media only screen and (min-width: 650px){
    figure blockquote{
        font-size: 1.4em;
    }
    .para{
        font-size: 1em;
    }
}
@media only screen and (min-wid  
 
    figure blockquote{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 1024px){
    .header img{
       margin-top: -20px;
    }
    .para{
        font-size: .9em;
    }
    figure blockquote{
        font-size: 1.5em;
    }
}