

.form-container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.form-container h2 {
    color: #084482;
    margin-bottom: 50px;
}

.inputWithIcon {
    border: 1px solid grey;
    margin-bottom: 20px;
    text-align: left;
}

.inputWithIcon i {
    margin-left: 0;
    color: #00aeff;
    margin-left: 10px;
}

.inputWithIcon input {
    border: none !important;
    border-bottom: 1px solid grey !important; 
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    top: 25px;
    left: 5px;
}
 input::placeholder {
  padding-left: 5px;
}
#password, #email{
    padding-left: 30px;
}
button {
     width: 230px !important;
}
