

.form-container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.form-container h2 {
    color: #084482;
    margin-bottom: 50px;
}

.inputWithIcon {
    border: 1px solid grey;
    margin-bottom: 20px;
    text-align: left;
}

.inputWithIcon i {
    margin-left: 0;
    color: #00aeff;
    margin-left: 2px;
}

.inputWithIcon input {
    border: none;
    width: 90%;
    padding: 10px;
    outline: none;
}

button {
    width: 100%;
    border: none;
    color: white;
    background-color: #00aeff;
    padding: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 700px){
    .form-container {
        width: 40%;
    }
}