* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Open Sans, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f4f5f7 !important;
}

body {
  background-color: rgb(241, 235, 235);
}

/*Small screen - any screen size below 768px*/
@media (max-width: 768px) {
  .body-container {
    background-color: white;
    margin: 30px;
  }
}

/*Medium  screen and upward*/
@media (min-width: 768px) {
  .body-container {
    background-color: white;
    margin: 40px 60px;
  }
}

.navigation {
  padding-left: 50px !important;
  padding-right: 50px !important;
}


/*Header*/
.hero {
  background-color: #d1f0f6;
}
.navbar-brand img {
  width: 100%;
  height: 100;
  margin: 0 auto;
}

/*welcome*/
.welcome {
  background-color: #d1f0f6;
}
.mentor {
  /* font-size: 30px;
 line-height: 54px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 54px;
  text-align: center;
  color: #084482;
  padding-top: 50px;
}

.gratitude {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  color: #474747;
  margin-bottom: 30px;
}
/*Form*/
.expertise-container {
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}

.wrap {
  background-color: white;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  position: relative;
}

.check {
  margin-left: auto;
  margin-right: auto;
  width: 209px;
}

.check label {
  font-weight: 500;
}

.fa-angle-down {
  color: #00aeff;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 205px;
  width: 20px;
  height: 18px;
}

.fa-angle-up {
  color: #00aeff;
  font-size: 22px;
  text-align: center;
  top: 2px;
  width: 20px;
  position: absolute;
  left: 205px;
  height: 18px;
}

.accordion-content {
  color: grey;
  max-height: 0;
  font-size: 0.6rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin-left: 10px;
  margin-top: -2px;
}

.accordion-content span {
  font-weight: bold;
  color: black;
}
.area {
  margin-bottom: 6px;
  font-size: 23px;
  font-weight: normal;
  color: #333333;
}
.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}
.fa-camera {
  margin-top: 25px;
  color: #8898aa;
}
.circle {
  border: 2px dotted #8898aa;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background: #ffffff;
}
.click {
  text-align: center;
  font-weight: normal;
  color: #333333;
  font-size: 14px;
}
.jpg {
  text-align: center;
  font-weight: normal;
  color: #333333;
  font-size: 14px;
}
input {
  font-family: inherit;
}
input::placeholder {
  font-size: 100%;
}
.btn {
  background-color: #00aeff;
  color: #fafafa;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.4s ease-out;
  margin-bottom: 4rem;
}
.btn:hover {
  font-weight: bold;
  background-color: #084482;
}

/*Footer*/
.page-footer {
  background-color: #fafafa;
}

.mentor__footer {
  background: white !important;
}

h5,
.fab {
  color: #00aeff;
}
.py-3 a,
.footer-copyright,
p,
a {
  color: #8898aa;
}
a:hover {
  text-decoration: none;
}
.fab {
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: #8898aa 0px 4px 7px;
}
.fab:hover {
  color: #084482;
  font-weight: bold;
}
@media only screen and (max-width: 860px) {
  input::placeholder {
    font-size: 100%;
  }
}

@media (min-width: 770px) and (max-width: 991px) {
  /* #wrap > div {
   padding-left: 0;
   margin-left: -20px;
 } */
}
@media (max-width: 769px) {
  .col-12.text-center.area.p-2 {
    margin-bottom: 4px;
  }
}
@media (min-width: 576px) and (max-width: 769px) {
  /* #wrap > div {
   margin-left: -55px;
 } */
}
@media (max-width: 700px) {
  .navigation {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .wrap {
    width: 95%;
  }
}

@media (min-width: 450px) and (max-width: 499px) {
  /* #wrap > div {
   margin-left: 10%;
 } */
}

@media (min-width: 401px) and (max-width: 449px) {
  /* #wrap > div {
   margin-left: 5%;
 } */
}
@media (max-width: 759px) {
  /* #wrap > div {
   padding-left: 9.5%;
 } */

  .navigation {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 330px) {
  /* #wrap > div {
   padding-left: 5%;
 } */
  .col-12.text-center.area.p-2 {
    font-size: 20px;
  }
}
