        *{
            box-sizing: border-box;
        }
        html{
            scroll-behavior: smooth;
        }
        body{
            font-family:  Open Sans, sans-serif;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0;
            background-color: #F4F5F7 !important;
        }
        #form-contner
        {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        }
        /*Header*/
        .hero{
            background-color:#D1F0F6;
        } 
        .navbar-brand img{
          width: 100%;
          height: 100;
          margin: 0 auto;
        }
       
        /*welcome*/
        .welcome{
          background-color: #D1F0F6;
        }
        .mentor{
         color: #084482;
         font-weight: bold;
         font-size: 30px;
         line-height: 54px; 
        }
        /*Form*/
        .expertise-container{
         box-shadow: 2px 4px 5px .1px gainsboro;
       }

        .expertise{
         background-color: #FAFAFA;
       }

       
       #wrap>div{
           padding-left: 12%;
           min-width:250px;
          
       }
       .check {
        margin-left: auto;
        margin-right: auto;
        width: 209px;  
       }

      .check label {
       font-weight: 500;
      
      }
  
        .accordion-label{
            position: relative;
            cursor: pointer;
        }
       
 
        .accordion-label::after{
            content: "\f078";
            font-family: "fontawesome";
            position: absolute;
            color:  #00AEFF;
            left: 210px;
  
        }
        .accordion-label.active::after{
          content: "\f077";
          font-family: "fontawesome";
        }

        .accordion-content{
            color: grey;
            max-height: 0;
            font-size: 0.6rem;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            margin-left: 18px;
            margin-top: -8px;

        }
        
        .accordion-content span{
            font-weight: bold;
            color: black;
        }
        .col-12.text-center.area.p-2{
            margin-bottom: 6px;
            font-size: 24px;
            font-weight: 600;
            color: #333333;
        }
        .image-upload > input
        {
            display: none;
        }

        .image-upload img
        {
            width: 80px;
            cursor: pointer;
        }
        .fa-camera{
            margin-top: 25px;
            color: #8898AA;
        
        }
        .circle{
            border:2px dotted #8898AA;
            height: 70px;
            width: 70px;
            border-radius: 100px;
            background: #ffffff;
        }
        .click{
            text-align: center;
            font-weight: normal;
            color: #333333;
            font-size: 14px;
        }
        .jpg{
            text-align: center;
            font-weight: normal;
            color: #333333;
            font-size: 14px;
        }
        input
        {
            font-family: inherit;
        }
        input::placeholder{
          font-size: 100%;
        }
        .btn{
            background-color: #00AEFF;
            color: #FAFAFA;
            border: none;
            font-size: 1rem;
            padding: 0.5rem 3rem;
            box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
            transition: 0.4s ease-out;
            margin-bottom: 4rem;
        }
        .btn:hover{
            font-weight: bold;
            background-color: #084482;
        }

        /*Footer*/
        .page-footer{
            background-color:  #FAFAFA;
        }
        h5,.fab{
            color: #00AEFF;
        }
        .py-3 a,.footer-copyright,p,a{
            color: #8898AA;
        }
        a:hover{
            text-decoration: none;
        }
        .fab{
          border-radius: 50%;
          background-color: #ffffff;
          box-shadow: #8898AA 0px 4px 7px;
        }
        .fab:hover{
          color: #084482;
          font-weight: bold;
        }
        @media only screen and (max-width: 860px){
             input::placeholder{
                font-size: 100%;
            }
         }

         @media(min-width:770px) and (max-width:991px){
            #wrap>div{
                padding-left: 0;
                margin-left: -20px;
            }
         }
         @media(max-width:769px){
            .accordion-label::after{
                left: 200px;
            }
            .col-12.text-center.area.p-2{
                margin-bottom: 4px;
            }
         }
         @media(min-width:576px) and (max-width:769px){
            #wrap>div{
                margin-left: -55px;
            }
            
         }
         @media(min-width:500px) and (max-width:575px){
            #wrap>div{
                margin-left: 12%;
            }
         }

         @media(min-width:450px) and (max-width:499px){
            #wrap>div{
                margin-left: 10%;
            }
           
         }

         @media(min-width:401px) and (max-width:449px){
            #wrap>div{
                margin-left: 5%;
            }
         }
         @media(max-width:400px){
            #wrap>div{
                padding-left: 9.5%;
            }
         }

         @media(max-width:330px){
            #wrap>div{
                padding-left: 5%;
            } 
            .col-12.text-center.area.p-2{
                font-size: 20px;
            }
         }