.heading {
    background: #D1F0F6;
    margin-top: 0;
}

.main-btn {
    background: #00AEFF;
    border-radius: 4px;
    font-weight: bold;
    color: white !important;
    display: inline-block;
}

.main-btn:hover {
    background: rgb(0, 142, 207);
}

.main-heading {
    font-size: 2rem;
    color: #084482;
}

.quick-links {
    color: #00AEFF;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header-content {
    margin-top: 5rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.intern {
    margin-top: 15px;
    marker: 15px 3px 0;
    /*float: left;*/
}

.intern .name {
    font-size: 15px;
    font-weight: 700px;
    margin-top: 8px;
    margin-bottom: -2px;
}

.intern img {
    width: 200px;
    height: 200px;
    max-height: 200px;
}

.intern .stack {
    font-size: 12px;
    margin-bottom: -12px;
    color: #007bff;
}

.intern hr {
    margin-bottom: 2px;
    max-width: 200px;
}

.intern .experience {
    font-size: 13px;
    max-width: 200px;
}

@media screen and (max-width: 600px) {
  .intern {
    text-align: center;
    align-content: center;
  }
  .intern hr {
    max-width: none;
  }
  .intern .experience {
    max-width: none;
}
}