@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html{
	background-color: rgb(240, 240, 240);
}
body 
{
    font-family: "Open Sans", segoe UI, sans-serif;
    padding: 0;
	margin: 0;
    --sidebar-width: 15vw;
}
html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
main
{
	background-color: rgb(240, 240, 240);
	margin-left: var(--sidebar-width);
	padding: 2rem;
}
h1
{
	font-size: 35px;
}
a{
	text-decoration: none;
}
.center-text
{
	text-align: center;
}

.searchBox {
	position: absolute;
	right: 24%;
    border-radius: 30px;
    width:  225px;
	height: 30px;
	padding-left: 25px;
	background-color: #FFFFFF;
	outline: none;
	margin-top: 32px;
  }
 
 .fas.fa-search{
	  position: absolute;
	  right: calc(24% + 200px);
	  top: 60px;
	  color: grey;
	  
  }
  .intern-buttons,
  .mentor-buttons{
	display: flex;
	margin: 5rem 0 1rem 0rem;
  }
  .intern-buttons>.btn:nth-child(1),
  .mentor-buttons>.btn:nth-child(1){
	margin-right: 1em;
}
.row h2{
	margin-left: 15px;
}
/* 
#mobile-bars 
{
    position: absolute;
    left: -35vw;
    top: 3vh;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */

.stix 
{
    border-radius: 3px;
    height: 3px;
    width: 30px;
    background-color: dimgray;
    margin: 5px 0;
    transition: 0.4s ease;
}

#mobile-bars-check 
{
    display: none;
}

#overview-section h2{
	margin-top: 30px;
	margin-bottom: 30px;
}
#overview-section .exports
{
	background-color: rgb(80, 80, 130);
	color: white;
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	margin: 2rem auto;
	cursor: pointer;
	display: block;
	transition: 0.6s ease-out;
	width: 80px;
}
#overview-section .exports:hover
{
	background-color: rgb(110, 110, 160);
}
#overview-section h1, #overview-section h2, #details-section h2
{
	color: rgb(80, 80, 130);
}
#details-section h2{
	margin-top: 15px;
	font-size: 25px;
}
#overview-section
{
	width: 60vw;
	
}

#printablediv{
	
	width: 60vw;
}
.scroll{
	max-height: 60vh;
	width: 100%;
	overflow-y: auto;
	
}
#my-table{
	width: 60vw;
	box-sizing: border-box;
    border-collapse: separate;
	border-spacing: 0 7px;
	margin-left: -0.75%;
}

#my-table tr{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:40px;
    text-align: left;
	background: #fefefe;
	cursor: pointer;
}
/* #my-table tbody tr:hover{
	background: linear-gradient(360deg, #D1F0F6 0%, #11CDEF 100%);
} */
#my-table>thead>tr>th{
    position: relative;
    text-align: left;
}

#my-table i{
    position: absolute;
    margin-left: 5px;
    top: 13px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

i:hover{
    color:blue;    
}


#my-table>thead>tr>th,
#my-table>tbody>tr>td
{
    vertical-align: middle;
}



.mentor-table th:nth-child(2),
.mentor-table th:nth-child(3),
.mentor-table th:nth-child(6),
.mentor-table th:nth-child(7),
.mentor-table th:nth-child(8),
.mentor-table th:nth-child(9),
.mentor-table th:nth-child(10),
.mentor-table th:nth-child(11),
.mentor-table td:nth-child(2),
.mentor-table td:nth-child(3),
.mentor-table td:nth-child(6),
.mentor-table td:nth-child(7),
.mentor-table td:nth-child(8),
.mentor-table td:nth-child(9),
.mentor-table td:nth-child(10),
.mentor-table td:nth-child(11)
{
	display: none;
}



.intern-table th:nth-child(2),
.intern-table th:nth-child(5),
.intern-table th:nth-child(6),
.intern-table th:nth-child(7),
.intern-table th:nth-child(8),
.intern-table th:nth-child(9),
.intern-table th:nth-child(10),
.intern-table th:nth-child(11),
.intern-table td:nth-child(2),
.intern-table td:nth-child(5),
.intern-table td:nth-child(6),
.intern-table td:nth-child(7),
.intern-table td:nth-child(8),
.intern-table td:nth-child(9),
.intern-table td:nth-child(10),
.intern-table td:nth-child(11)
{
	display: none;
}



.sponsor-table th:nth-child(4),
.sponsor-table td:nth-child(4),
.sponsor-table th:nth-child(5),
.sponsor-table td:nth-child(5),
.sponsor-table th:nth-child(6),
.sponsor-table td:nth-child(6){
	display: none;
}


#my-table td:nth-child(1),
#my-table th:nth-child(1){
	width: 50px;
	padding-left: 15px;
}
#my-table th:nth-child(1){
	padding-left: 10px;
}


#details-section
{
	position: fixed;
	z-index: 10;
	height: 100vh;
	top: 0;
	left: 77vw;
	width: 23vw;
	padding-left: 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 4rem;
	display: flex;
	justify-content: center;
	
}

#details-section #details-back
{
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid rgb(80, 80, 130);
	transition: 0.4s ease-out;
	transform: rotate(90deg);
	margin: 1rem;
	margin-left: 3rem;
	display: none;
}
#details-section #details-back > div
{
	width: 20px;
	height: 20px;
	margin: 17px auto;
	border-top: 2px solid rgb(80, 80, 130);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 2px solid rgb(80, 80, 130);
	transform: rotate(45deg);
}
#details-section #details-return
{
	display: none;
	border: 1px solid rgb(80, 80, 130);
	font-size: 1.4rem;
	margin: 3rem;
	width: 60vw;
	text-align: center;
	font-weight: 100;
}
#details-section *
{
	overflow-wrap: break-word;
}
#details-section span, #details-section a
{
	color: rgb(80, 80, 130);
	font-weight: bolder;
	text-decoration: none;
}
#details-section #no-intern
{
	display: block;
	margin: 0 auto;
	color: crimson;
}


.box{
    display: flex;
    align-items: center;
	justify-content: center;
	width: 60vw;
}

.box > *{
    margin: 1em;
	color: #337ab7;
	/* border: 1px solid blue; */
   
}
.box > select{
    height: 30px;
}
.buttonDiv{
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	width: 40%;
}


#overlay{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color:  rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: none;
}
#export-modal{
	position: fixed;
	background:linear-gradient(180deg, #D1F0F6 0%, #11CDEF 100%);
	top: 50%;
	left: 50%;
	width: 250px;
	height: 200px;
	transform: translate(-50%, -50%);
	z-index: 11;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

#overlay.visible{
	display: block;
}
#export-modal.visible{
	display: flex;
	opacity: 1;

}

#export-modal>div{
	text-align: center;
	margin: 1em;
	margin-right: 1.5em;
	width: 100%;
}
#export-modal>div:first-child{
	margin-top: 2em;
}
#export-modal>div:last-child{
	margin-bottom: 0;
}

#export-modal input[type="radio"]{
	transform: scale(1.3);
	margin-right: 0.5rem;
}
#export-modal .exports{
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	border-radius: 5px;
	margin: 2rem auto;
	cursor: pointer;
	transition: 0.3s ease-out;
}
#export-modal .exports:hover{
	font-weight: bold;
}
#export-modal .exports:active{
	transform: scale(0.95)
}



#navigator{
	display: none;
	/* display:flex; */
	justify-content: space-evenly;
	margin-top: 20px;
	position: absolute;
	width: 46%;
	left: 26%;
	top: 85%;
	
}
#navigator.active{
	display: flex;
}
#navigator i, #navigator img{
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#navigator p{
	font-size: 18px;
}

#centralize{
	justify-self: center;
	word-wrap: break-word;
	width: 90%;
}

@media (max-width: 860px)
{
	main
	{
		margin-left: 0;
		padding: 0.5%;
		min-height: 100vh;
	}
	.row h2{
		margin-left: 0;
	}
	.intern-buttons,
	.mentor-buttons{
		justify-content: center;
	}
	.intern-buttons>*,
	.mentor-buttons>*{
		margin-left: 1em;
	}
	
	.intern-table th:nth-child(4),
	.intern-table td:nth-child(4){
		display: none;
	}
	.mentor-table th:nth-child(5),
	.mentor-table td:nth-child(5){
		display: none;
	}
	.sponsor-table th:nth-child(3),
	.sponsor-table td:nth-child(3){
		display: none;
	}
	#printablediv{
		width: 100%;
	}
	#printablediv.sponsors{
		margin-top: 2.5rem;
	}
	#my-table{
		width: 100%;
		margin: 0 auto;
		
	}
	#overview-section
	{
		width: 96%;
		margin: 0 2%;
	}
	#overview-section h2
	{
		text-align: center;
		margin-top: 15px;
		font-size: 25px;
		/* margin-left: 2%; */
	}
	
.searchBox {

	margin-top: 55px;
	
	left: 50%;
	transform: translate(-47%);
  }
 
 .fas.fa-search{
	  position: absolute;
	  top: 68px;
	  left: calc(50% - 95px);
	  /* transform: translate(-27%); */
	  color: grey;
	  
  }
	#overview-section .exports
	{
		padding: 0.5rem 1.5rem;
		font-size: 16px;
		border-radius: 5px;
		margin: 3rem auto;
	}
	
	#details-back{
		
		justify-self: self-start;
		align-self: center;
		margin-top: 3em;
		zoom: 0.7;
		/* margin-bottom: 0; */
	}
	#details-section
	{	display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100px 60vh;
		/* justify-content: space-between; */
		background-color: rgb(240, 240, 240);
		z-index: 5;
		width: 100vw;
		transition: 0.4s ease-out;
		left: 100vw;
		font-size: 17px;
		
	}

	#details-section.activated{
		left: 0;
	}

	#details-section #details-back
	{
		display: block;
	}
	#details-section #details-return
	{
		display: block;
		color: rgb(80, 80, 130);
	}


	#sidebar
	{
		
		left: -100vw;
		transition: 0.4s ease-out;
		z-index: 5;
	}
	#sidebar a
	{
		font-size: 14px;
	}
	#mobile-bars 
	{
        display: block;
        margin-left: 40vw;
        z-index: 10;
    }
    #mobile-bars-check:checked ~ #mobile-bars > #stik1 
    {
        transform: rotate(45deg) translateY(7px) translateX(5px);
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik2 
    {
        width: 0;
        opacity: 0;
    }

    #mobile-bars-check:checked ~ #mobile-bars > #stik3 
    {
        transform: rotate(-45deg) translateY(-8px) translateX(5px);
    }

    #mobile-bars-check:checked ~ #sidebar
    {
        left: 0;
	}
	.box{
		margin: 0 auto;
		width: 95vw;
	}
	.buttonDiv{
		margin: 0 auto;
		width: 80%;
	}
	
}

@media (min-width: 500px) and (max-width: 859px){

	#my-table tr,
	#my-table>thead>tr>th{
		text-align: center ;
	}
}

@media (max-width: 500px){
	
	#details-section{
		font-size: 12px;
		
	}
	
	#navigator{
		margin-top: 0;
	}
	#details-section{	
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100px 60vh;	
	}
	
	#my-table>tbody>tr>td:nth-child(1){
		padding-left: 15px;
	}
	/* #my-table td:nth-child(2),
	#my-table th:nth-child(2){
		display: none;
	} */
	.intern-table th:nth-child(2),
	.intern-table td:nth-child(2),
	.mentor-table th:nth-child(2),
	.mentor-table td:nth-child(2){
		display: none;
	}
	
	.box{
		display: grid;
		grid-template-columns: 2fr 1fr;
		width: 95vw;
	}
	
	.box>span{
		grid-column: 1/3;
		text-align: center;
	}
	.buttonDiv{
		margin: 0 auto;
		width: 80%;
	}
	ul.pagination{
		margin-left: 10px;
	}
}


@media (max-width: 375px){
	#details-section{	
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 60vh;	
	}
	#my-table{
		width: 100%;
		margin: 0 auto;
		
	}
	.scroll{
		overflow-x: scroll;
	}
	#overview-section h2.register{
		font-size: 24px;
	}
}
