body{
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: sans-serif; 
}

.cards {
    width: 100%;
    background-color: rgb(212, 206, 206);
    box-shadow: silver;
    position: relative; 
    margin-top: -5px;
    display: inline-block;
}
.image{
    width: 100%;
    position: relative;
}
.heading h3 {
    position: absolute;
    top: 10%;
    right: 30%;
    /* transform: transla te(-50% , -50%); */
}
.heading h5{
    position: absolute;
    top: 15%;
    right: 25%;
}
.heading {
    text-align: center;
    /* position: absolute;
    top: 0; */
}
.heading p {
    padding: 10px;
}

.images{
    width: 50%;
    margin-left: 25%;;
}

.para{
    text-align: center;
    margin-bottom: 20px;
}
.para p{
    padding: 10px;
}
.button{
    background-color: black;
    color: white;
    box-shadow: black;
    padding: .5em 2em
}

@media only screen and (min-width: 650px){
    .heading p, .para p {
       font-size: 1.6em;
    }
    .heading h3, .heading h5{
        font-size: 50px;
    }
    .button{
       font-size: 25px;
    }

    
}
 @media only screen and (min-width: 1024px){ 
     .container{
         display: flex;
         margin-left: 200px;
     }
     .images2 {
         margin: -40px;
     }
     .images3 {
         margin: -10px;
     }
    .cards {
        width: 33%;
        background-color: rgb(212, 206, 206);
        display: inline-block;
        padding: 10px;
        box-shadow: silver;
        margin-top: -20px;
    }
    .cards .images {
        width: 50%;
    }
    .heading p, .para p {
        font-size: .9em;
     }
     .heading h3, .heading h5{
         font-size: 20px;
     }
     .button{
        font-size: 25px;
     }
     .button{
        font-size: 15px;
     }
}
