*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.text-light {
  color: #ffffff;
}

.support {
  background-color: #3c6b9c;
  padding: 2.5rem 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.support__header {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}
.support__items {
  display: inline-flex;
  align-items: center;
  width: 99%;
  margin: 0;
  padding: 3rem 0;
}
.support__items .support__item {
  flex-basis: 50%;
}
.support__items .support__item-icon {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 67px;
  height: 67px;
  background-color: white;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.support__items .support__item-icon .fas {
  font-size: 1.8rem;
  color: #00aeff;
  position: absolute;
  z-index: 2;
}
.support__items .support__item-icon .donate {
  top: 19px;
  left: 19px;
}
.support__items .support__item-icon .help {
  top: 19px;
  left: 16px;
}
.support__items .support__item-icon .card {
  top: 19px;
  left: 18px;
}
.support__items .support__item-body {
  margin-top: 2rem;
}
.support__items .support__item-text {
  font-size: 1rem;
}
.support__items .support__item-link {
  display: block;
  margin-top: 0.6rem;
}
.support__items .support__item-link a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #8ddbff;
}
.support__items .support__item-link a:hover {
  color: #c0ebff;
}
.support__items .support__item-link .fa {
  color: #8ddbff;
  font-size: 0.9rem;
}

@media (max-width: 750px) {
  .support__items {
    flex-direction: column;
  }

  .support__item:not(:first-child) {
    margin-top: 4rem;
  }
}
