@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body#faq-page{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}