@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, main, header, section, footer, article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

body#faq-page {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #474747;
  background-color: #D1F0F6;
}

body#faq-page header {
  padding-top: 24px;
  padding-bottom: 24px;
}

body#faq-page header div.nav-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0px auto;
}

body#faq-page header img#logo {
  width: 281px;
  height: 56.43px;
  margin: auto;
}

body#faq-page header nav {
  width: 100%;
}

body#faq-page header nav ul {
  list-style: none;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body#faq-page header nav ul li.nav-item {
  display: inline-block;
  margin: 15px auto;
}

body#faq-page header nav ul li.nav-item a.nav-item-link {
  text-decoration: none;
  color: #474747;
  text-transform: capitalize;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 0.95;
}

body#faq-page header nav ul li.nav-item.join-hng {
  background: #00AEFF;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body#faq-page header nav ul li.nav-item.join-hng a.nav-item-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.31px;
  color: #FFFFFF;
  padding: 12px 18px;
}

body#faq-page main div.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 173.57px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 683px;
}

body#faq-page main div.text-center h1, body#faq-page main div.text-center p {
  width: 100%;
  text-align: center;
}

body#faq-page main div.text-center h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #084482;
}

body#faq-page main div.text-center p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  height: 154px;
}

body#faq-page main article {
  background-color: #fff;
}

body#faq-page main article div#faq-container, body#faq-page main article div#faqForm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

body#faq-page main article div#faq-container {
  padding: 20px;
  margin: 0px auto;
}

body#faq-page main article div#faq-container div.accordion-item {
  margin-bottom: 24px;
}

body#faq-page main article div#faq-container div.accordion-item div.accordion-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

body#faq-page main article div#faq-container div.accordion-item div.accordion-item-title span.btn-text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 53px;
  color: #00AEFF;
  border: none;
  background: transparent;
}

body#faq-page main article div#faq-container div.accordion-item div.accordion-item-title img {
  margin-left: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

body#faq-page main article div#faq-container div.accordion-item div.accordion-item-title img.open-accordion {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body#faq-page main article div#faq-container div.accordion-item div.accordion-item-text-container {
  display: none;
  margin-top: 39px;
}

body#faq-page main article div#faq-container div.accordion-item div.accordion-item-text-container p.accordion-item-text {
  width: 100%;
  max-width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 152.3%;
  color: #7B7C7D;
}

body#faq-page main article div#faqForm-container {
  max-width: 1110px;
  margin: 20px auto;
}

body#faq-page main article div#faqForm-container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body#faq-page main article div#faqForm-container form p.form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 53px;
  text-align: center;
  color: #084482;
  max-width: 640px;
  margin: auto;
  margin-bottom: 71px;
}

body#faq-page main article div#faqForm-container form label, body#faq-page main article div#faqForm-container form input, body#faq-page main article div#faqForm-container form textarea {
  width: 100%;
}

body#faq-page main article div#faqForm-container form input, body#faq-page main article div#faqForm-container form textarea {
  background: #FFFFFF;
  border: 1px solid #868686;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 13px auto;
}

body#faq-page main article div#faqForm-container form input::-webkit-input-placeholder, body#faq-page main article div#faqForm-container form textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #868686;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 12px;
}

body#faq-page main article div#faqForm-container form input:-ms-input-placeholder, body#faq-page main article div#faqForm-container form textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #868686;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 12px;
}

body#faq-page main article div#faqForm-container form input::-ms-input-placeholder, body#faq-page main article div#faqForm-container form textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #868686;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 12px;
}

body#faq-page main article div#faqForm-container form input::placeholder, body#faq-page main article div#faqForm-container form textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #868686;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 12px;
}

body#faq-page main article div#faqForm-container form textarea {
  height: 297px;
  resize: none;
}

body#faq-page main article div#faqForm-container form input {
  height: 50px;
}

body#faq-page main article div#faqForm-container form input[type="submit"] {
  color: #fff;
  background-color: #00AEFF;
  padding-left: 0;
  text-align: center;
  letter-spacing: 0.315px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 57px;
}

body#faq-page footer {
  background-color: #FAFAFA;
  padding: 20px;
}

body#faq-page footer img#footerLogo, body#faq-page footer div.footerWidgets, body#faq-page footer p.footer-copyright, body#faq-page footer div.logo-container {
  margin-left: auto;
  margin-right: auto;
}

body#faq-page footer div.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body#faq-page footer div.logo-container img#footerLogo {
  width: 281px;
  height: 56.43px;
}

body#faq-page footer div.footerWidgets {
  width: 100%;
  max-width: 100%;
}

body#faq-page footer div.footerWidgets div.footerWidget-container {
  margin: 15px auto;
}

body#faq-page footer div.footerWidgets div.footerWidget-container:nth-child(odd) {
  text-align: right;
}

body#faq-page footer div.footerWidgets div.footerWidget-container a, body#faq-page footer div.footerWidgets div.footerWidget-container p {
  color: #737373;
}

body#faq-page footer div.footerWidgets div.footerWidget-container p, body#faq-page footer div.footerWidgets div.footerWidget-container address {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

body#faq-page footer div.footerWidgets div.footerWidget-container p.footerWidget-title {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #00AEFF;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list {
  list-style: none;
  width: 100%;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list li a {
  text-decoration: none;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list li p strong {
  font-weight: 600;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list.quick-links li a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #00AEFF;
  line-height: 27px;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list.social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list.social-media-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  margin: 25px 21px 25px 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 4px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list.social-media-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

body#faq-page footer div.footerWidgets div.footerWidget-container ul.footerWidget-links-list.social-media-links li a i.fab {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #00AEFF;
  margin: auto;
}

body#faq-page footer p.footer-copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #8898AA;
}

@media screen and (min-width: 900px) {
  body#faq-page header div.nav-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    max-width: 1108px;
    margin: 0px auto;
  }
  body#faq-page header nav {
    margin-left: auto;
    width: auto;
  }
  body#faq-page header nav ul {
    list-style: none;
    display: block;
    padding: 0;
  }
  body#faq-page header nav ul li.nav-item {
    display: inline-block;
    margin: auto 25px;
  }
  body#faq-page header nav ul li.nav-item.join-hng {
    margin-left: 36px;
    margin-right: 0px;
  }
  body#faq-page main article {
    background-color: #fff;
  }
  body#faq-page main article div#faq-container {
    margin: 83px 118px 83px 165px;
    max-width: 1157px;
    padding: 0;
  }
  body#faq-page main article div#faq-container div.accordion-item {
    margin-bottom: 54px;
  }
  body#faq-page main article div#faq-container div.accordion-item div.accordion-item-title span.btn-text {
    font-size: 39px;
  }
  body#faq-page main article div#faq-container div.accordion-item div.accordion-item-title img {
    margin-left: 54.06px;
  }
  body#faq-page main article div#faqForm-container {
    margin-top: 92px;
    margin-bottom: 188px;
  }
  body#faq-page footer {
    background-color: #FAFAFA;
  }
  body#faq-page footer div.footerWidgets, body#faq-page footer p.footer-copyright, body#faq-page footer div.logo-container {
    max-width: 1014px;
  }
  body#faq-page footer div.logo-container img#footerLogo {
    margin-left: 0;
  }
  body#faq-page footer div.footerWidgets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: auto;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body#faq-page footer div.footerWidgets div.footerWidget-container {
    margin: 57.57px auto;
    width: calc((100% - 50px)/4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body#faq-page footer div.footerWidgets div.footerWidget-container:nth-child(odd) {
    text-align: left;
  }
}
/*# sourceMappingURL=stylesheet.css.map */